.btn-primary{
	background-color:blue;
}
.btn-secondary{
	background-color:white;
}
.btn-success{
	background-color:green;
}
.btn-danger{
	background-color:red;
}
.btn-warning{
	background-color:yellow;
	 
}
.btn-warning{
	background-color:yellow;
}
.btn-light{
	background-color:skyblue;
	 
}
.btn-dark{
	background-color:wight;
	 
}
.btn-link{
	background-color:wight;
	 
}